<mat-toolbar>
  <mat-toolbar-row>
    <span class="mr-4">My Best Movies</span>
    <div>
      <a routerLink="/"><button mat-button>Directors</button></a>
      <a routerLink="movies"><button mat-button>Movies</button></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>