<div class="container">
  <div class="row">
    <h1 class="col mb-4 mt-2">Movies</h1>
  </div>
  <div>
    <div class="d-flex p-2" style="background-color: #f9f9f9;">
      <button class="mr-2" mat-raised-button (click)="showTextFieldToggle = !showTextFieldToggle">Add</button>
      <button mat-raised-button (click)="remove()" >Remove</button>
    </div>
    <form class="p-2" *ngIf="showTextFieldToggle">
      <div class="form-group d-flex">
        <input class="form-control mr-2" type="text" #createNodeInput />
        <button (click)="add()" mat-button>+</button>
      </div>
    </form>
    <div style="width: 100%; height: 500px;" #webixTreeContainer>
      <!-- Webix Tree -->
    </div>
  </div>
</div>