<div class="container">
  <div class="row mb-4 mt-2">
    <h1 class="col-12">Directors</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <ngx-datatable
        [rows]="directors"
        [columnMode]="'force'"
        [headerHeight]="60"
        [rowHeight]="60"
        [scrollbarH]="true"
        class="material"
      >
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          ID
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.id}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          NAME
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.firstName}} {{row.lastName}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column>
        <ng-template let-column="column" ngx-datatable-header-template>
          EMAIL
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.email}}
        </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>